# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# VS Code
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Secrets & Config
.env

# Data & Large Files
*.ipynb_checkpoints/
*.log
*.sqlite